<body>
    <h1>Home page</h1>

    <div>
        <%= link_to 'About', about_path %>
    </div>
    <div>
        <%= link_to 'Alpha Blog', articles_path %>
    </div>
    <div id='hero'>
        <%= link_to image_tag('austin-neill-303600.jpg') %>
    </div>

    
	<div id="content">
		<p>
			Welcome to the alpha blog, my first ruby on rails application. I aspire to be a coder and an entrepreneur. 
		</p>
		<p> 
			This is the beginning of my journey as a Ruby on Rails developer. I will update my projects, my thoughts here.
		</p>
		</div>
		<div id="footer">
			<p>
			    The Web application is made by Alan Lee.
			</p>
		</div>
	</div>
</body>

