<div class="container">
	<div class="center jumbotron">
		<div class="jumbotext">
			<h1>
				Welcome to Alpha Blog!
			</h1>
			<h4>
				My first ruby on rails application. I update my projects and my thoughts here.
			</h4>
		    <div>
		        <%= link_to 'Sign Up Now!', signup_path , class: 'btn btn-success btn-lg' %>
		    </div>
				
		</div>
	</div>
	<!--<div id='hero'>-->
    <!-- link_to image_tag('austin-neill-303600.jpg')-->
    <!--</div>-->

</div>